<div class="container">
    <div class="form">
        <form action="/" method="post">
            <input type="search" name="city" placeholder="Enter a city...">
            <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <div class="title">
        <p>
            <i class="fa-solid fa-location-dot"></i> 
                <span><%= city %> </span> <%#  %> 
        </p>
    </div>
    <div class="temp">
        <img src="<%= img %>"  alt="icon" class="icon">
        <h2 class="main-temp"> <%= Temp %>°</h2>
    </div>
    <div class="condition">
        <p class="desc"><%= Desc %> </p>
        <p>min: <%= min %> °</p>
        <p>max: <%= max %> °</p>
    </div>
    
    <div class="wind">
        <p class="humidity">Humidity: <%= hum %>%</p>
        <p class="wind">Wind: <%= win %>m/s</p>
    </div>
</div>